.wrapper {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 24px;
}

.headling__title {
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    line-height: 120%;
    margin-bottom: 24px;
}

@media (max-width: 375px) {
    .headling__title {
        font-size: 36px;
        text-align: left;
    }
}

.headling__description {
    font-weight: 500;
    line-height: 140%;
    text-align: center;
    color: var(--color-description);
    margin-bottom: 40px;
}

@media (max-width: 375px) {
    .headling__description {
        text-align: left;
        margin-bottom: 32px;
    }
}


.tariffs__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, var(--max-width-card));
    gap: 24px;
    justify-content: center;
}

@media (max-width: 440px) {
    .tariffs__wrapper {
        grid-template-columns: repeat(auto-fit, var(--min-width-card));
    }
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: var(--max-width-card);
    border-radius: 8px;
    box-shadow: 0px 0px 32px 0px #4E5D7C29;
    padding: 48px 40px;
}

.card_secondary {
    background-color: var(--color-secondary);
    box-shadow: 0px 0px 32px 0px #4E5D7C52;
}

@media (max-width: 445px) {
    .card {
        max-width: var(--min-width-card);
    }
}

@media (max-width: 445px) {
    .card {
        padding: 48px 24px;
    }
}

.tariff__discount {
    width: fit-content;
    background-color: var(--color-discount);
    padding: 4px 16px;
    font-size: 15px;
    line-height: 140%;
    color: var(--color-primary);
    border-radius: 8px;
    margin-bottom: 16px;
}

.tariff__discount_hidden {
    display: none;
}

.tariff__discount_hidden+.tariff__title {
    padding-top: 50px;
}

@media (max-width: 810px) {
    .tariff__discount_hidden+.tariff__title {
        padding-top: 0;
    }
}

.bold {
    font-weight: 800;
}

.tariff__title {
    font-size: 32px;
    line-height: 120%;
    font-weight: 800;
    margin-bottom: 16px;
}

.tariff__description {
    font-weight: 500;
    color: var(--color-description);
    margin-bottom: 32px;
}

.card_secondary .tariff__description {
    color: var(--color-primary-opacity);
}

.card_secondary .tariff__title,
.card_secondary .props__name,
.card_secondary .props__value {
    color: var(--color-primary);
}

.props__list {
    margin-bottom: 40px;
}

@media (max-width: 810px) {
    .props__list {
        margin-bottom: 32px;
    }
}

.props__item {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;

}

.props__item:nth-child(2) {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: var(--color-border);
    padding: 8px 0;
    margin: 8px 0;

}

.card_secondary .props__item:nth-child(2) {
    border-color: var(--color-border-light);
}

.props__name,
.props__value {
    font-weight: 500;
    line-height: 120%;
    padding: 8px 0;
    color: var(--color-props);
}

.props__value_highlighted {
    font-weight: 700;
    background-color: var(--color-highlighter);
    padding: 8px 16px;
    color: var(--color-primary);
    border-radius: 8px;
}

.button {
    line-height: 140%;
    font-weight: 800;
    padding: 12px;
    text-align: center;
    width: 100%;
    border: none;
    border-radius: 47px;
    cursor: pointer;
}

.button_primary {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

.button_secondary {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}