* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
}

:root {
    --color-primary: #ffffff;
    --color-primary-opacity: #FFFFFF99;
    --color-secondary: #357EFE;
    --color-discount: #1ABC9C;
    --color-description: #4E5D7C80;
    --color-props: #4E5D7C;
    --color-highlighter: #FFC736;
    --color-border: #4E5D7C14;
    --color-border-light: #FFFFFF29;
    --max-width: 1392px;
    --min-width: 375px;
    --max-width-card: 369px;
    --min-width-card: 328px;
}

html {
    text-rendering: optimizeLegibility;
    min-width: var(--min-width);
}

body {
    font-size: 17px;
    margin: 0;
    background-color: var(--color-bg-primary);
}

h1,
h2,
h3 {
    margin: 0;
}

p {
    margin: 0;
}